<!DOCTYPE html>

<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

    <div class="background-80s">
        <div class="sun"></div>
        
        <div class="grid" style="--grid-color:rgba(115,59,139,0.7);--grid-size:30px;--grid-blur:1px;"></div>
          </div>

<h2>We think you'd like:</h2>
<p>{{ song }}</p>

</body>

</html>
